**/data
**/models
**/results
**/mydata
**/datasets
*.zip
*.pt
*.pth
*.ckpt
**/old_models
**/cellseqs
**/cell_seqs
**/embeddings
**/gps_seqs
**/NEUTRAJ-Adversarial
**/experiment
**/d0_002_data
**/d0_01_data
**/rdata
**/r_data
roadmap_attack/align_data
subtraj_infer
packages/traj-dist
**/inversion-attack-new
representation_attack/*
!representation_attack/traj_match_landmark_grid.ipynb
!representation_attack/traj_match_landmark_huge.ipynb
!representation_attack/Untitled.ipynb
*.pyc
**/__pycache__